.App {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
}

/* Estilos bases para los labels */
label {
  font-size: 16px;
  text-transform: uppercase;
}


/* Estilos bases para los inputs */
input {
  margin: 6px 0 12px;
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
}

input:focus {
  outline: none;
  border: 1px solid blue;
}

input::placeholder {
  color: hsl(270, 3%, 87%);
}

input.input-error {
  border-color: red;
}


/* Quitamos las flechas de los inputs de number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }


/* Mensaje de error en inputs */
.errorMessage {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: red;
}

@media screen and (min-width: 1172px) {
  .App {
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main form";
  }
}