.input-card-name {
    margin: 6px 0 12px;
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}

.input-card-name:focus {
    outline: none;
    border: 1px solid blue;
}

.input-card-name::placeholder {
    color: hsl(270, 3%, 87%);
}

.label-card-name {
    font-size: 16px;
    text-transform: uppercase;
}