.Button {
    margin-top: 18px;
    padding: 16px;
    width: 100%;
    font-size: 18px;
    color: white;
    background-color: hsl(278, 68%, 11%);
    border: none;
    border-radius: 7px;
    cursor: pointer;
}