@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

.App {
  display: flex;
  justify-content: center;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
}
